# This is Git's per-user configuration file.
[user]
	email = mtamargo115@gmail.com
	name = Miguel Tamargo
# Please adapt and uncomment the following lines:
#	name = Miguel Tamargo
#	email = mtamargo122@gmail.com
